body{
	background-color: #9fd4d4;
	margin: 0;
}

.outros{
	max-width: 1200px;
	margin: 0px auto;
	bottom: 15px;
	top: 50px;
	background-color: white;
}

.outros h1{
	font-family: 'Roboto Mono', monospace;
	 font-weight: 300;
	font-size: 25px;
	line-height: 30px;
	padding-top: 15px;
}

a:hover{
	color: white;
    background-color: black;
}

.link1{
	color: black;
}


.meio{
	max-width: 800px;
	margin: 0px auto;
	padding-top: 60px;
	padding-bottom: 0px;



}

.outros p{
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	font-size: 20px;
	font-style: italic;
	Color: #0000ff;
	top: 50px;
	max-width: 800px;
	margin: 0px auto;
	padding-bottom: 5px;

}

body img{ 
	max-width: 800px;
	margin: 60px auto;
	padding-bottom: 15px;
 }





.copo1{
	max-width: 800px;
	margin: 0px auto;
}

.azul{
	background-color:  #0000ff;
			max-width: 800px;
	margin: 0px auto;

	
}


.copo1 h1{
	margin-left: 8px;
	margin-right: 8px;
	top: 25px;
	bottom: 15px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-size: 30px;
	line-height: 38px;
	color: black;


}


.azul h2{
	font-family: 'Ultra', serif;
	font-weight: 400;
	font-size: 70px;
	color: white;
	line-height: 76px;
	max-width: 800px;
	margin-left: 90px;
	padding-top: 10px;
}

h3{
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #0000ff;
	padding-bottom: 15px;
	padding-top: 25px;
	margin-left: 8px;
	margin-right: 8px;
}

.outros ul h1{
	margin-left: 8px;
	margin-right: 8px;
	top: opx;
	bottom: 40px;
	font-family: 'Ultra', serif;
	font-weight: 400;
	font-size: 21px;
	color: black;
	padding-bottom: 15px;
	padding-top: 25px;
}


.outros ul{
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 21px;
	color: black;
	list-style-type: none;
	max-width: 500px;
}

.outros ul li p{
	background-color: #9fd4d4;
	color: black;
	list-style-type: none;
	font-family: 'Roboto Mono', monospace;
	font-weight: regular 400;
	font-style: normal;
	margin: 8px;
}

.BIO h1{
	font-family: Ultra;
	font-size: 70px;
	background-color: #6e8f8a;
	max-width: 170px;
	line-height: 76px;
	margin-left: 90px;

}

.abaixo p{
	color: #0000ff;
	padding-top: 50px;
	padding-bottom: 15px;
}